.good {
	color: green;
}
.wrong {
	color: red;
}
label {
	font-size: 25px;
	padding: 7px;
}
.lifes {
	color: Red;
	font-size: 30px;
}
.nostreak {
	color: gray;
}
.gstreak {
	font-size: 30px;
}
.streak {
	color: orange;
}
.word{
	font-size: 35px;
}
button {
	padding: 7px;
	margin: 7px;
}
.txtentry {
	margin: 7px;
	padding: 7px;
}
.up {
	color: lime;
}
progressbar > trough {
	padding: 7px;
	margin: 7px;
}
progressbar > text {
	color: #fafaaa;
	font-size: 20px;
}
.keyboard {
	margin: 7px;
	margin-bottom: -5px;
	padding: 7px;
}
