#flowbox :child {
	min-width: 100px;
	min-height: 100px;
}
#flowbox :nth-child(odd), #flowbox :nth-child(even) {
	min-width: 100px;
	min-height: 100px;
}
.red {
	min-width: 50px;
	background: red;
	color: @theme_bg_color;
}
.orange {
	min-width: 50px;
	background: orange;
	color: @theme_bg_color;
}
.green {
	min-width: 50px;
	background: green;
	color: @theme_bg_color;
}
.lime {
	min-width: 50px;
	background: lime;
	color: @theme_bg_color;
}
.teal {
	min-width: 50px;
	background: teal;
	color: @theme_bg_color;
}
.blue {
	min-width: 50px;
	background: blue;
	color: @theme_bg_color;
}
